In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
plt.style.use('fivethirtyeight')

In [4]:
df = pd.read_csv('logistic_reg_dataset.txt',sep=',')

In [5]:
df

      Marks_1    Marks_2  Result
0   34.623660  78.024693       0
1   30.286711  43.894998       0
2   35.847409  72.902198       0
3   60.182599  86.308552       1
4   79.032736  75.344376       1
..        ...        ...     ...
95  83.489163  48.380286       1
96  42.261701  87.103851       1
97  99.315009  68.775409       1
98  55.340018  64.931938       1
99  74.775893  89.529813       1

[100 rows x 3 columns]

In [6]:
X = df.iloc[:,0:2].values
y = df.iloc[:,-1].values

In [9]:
w = np.zeros(X.shape[1])
w

array([0., 0.])

In [12]:
h = 1/(1 + np.exp(-(np.dot(X,w))))

In [21]:
-sum(y*np.log(h)+(1-y)*np.log(1-h))/X.shape[0]

0.6931471805599458

In [22]:
def cost_func(X,y,h,lmda,reg):
    if reg=='l1':
        return -(sum(y*np.log(h)+(1-y)*np.log(1-h)) + ((lmda*sum(abs(w)))/(2*X.shape[0])))/X.shape[0]
    if reg=='l2':
        return -(sum(y*np.log(h)+(1-y)*np.log(1-h)) + ((lmda*sum(w**2))/(2*X.shape[0])))/X.shape[0]
    if reg==None:
        return -sum(y*np.log(h)+(1-y)*np.log(1-h))/X.shape[0]

In [19]:
cost_func(X,y,h)

array([0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147,
       0.00693147, 0.00693147, 0.00693147, 0.00693147, 0.00693147])

In [24]:
class logistic_reg():
    def __init__(my,learning_rate=0.001,w=0,evolution=100000,regularization='l1',lmda=100):
        my.lr=learning_rate
        my.w=w
        my.cycle = evolution
        my.reg = regularization
        my.lmda = lmda
    
    def fit(my,X,y):
        my.w = np.zeros(X.shape[1])
        for _ in range(my.cycle):
            h = my.sigmoid_func(np.dot(X,my.w))
            my.w -= my.lr * (sum((h-y)*X)/y.shape[0])
        return my
    
    def sigmoid_func(my,a):
        return 1/(1 + np.exp(-a))
    
    def cost_func(my,X,y,h):
        if my.reg=='l1':
            return -(sum(y*np.log(h)+(1-y)*np.log(1-h)) + ((my.lmda*sum(abs(w)))/(2*X.shape[0])))/X.shape[0]
        if my.reg=='l2':
            return -(sum(y*np.log(h)+(1-y)*np.log(1-h)) + ((my.lmda*sum(w**2))/(2*X.shape[0])))/X.shape[0]
        if my.reg==None:
            return -sum(y*np.log(h)+(1-y)*np.log(1-h))/X.shape[0]    
    
    def predict(my,predict):
        result = my.sigmoid_func(np.dot(predict,my.w))
        for i in range(len(result)):
            if result[i]>0.5:
                result[i]=1
            else:
                result[i]=0
        return result

In [25]:
test = logistic_reg()

In [26]:
test.cost_func(X,y,h)

0.6931471805599458