In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('logistic_reg_dataset.txt',sep=',')

In [3]:
df

      Marks_1    Marks_2  Result
0   34.623660  78.024693       0
1   30.286711  43.894998       0
2   35.847409  72.902198       0
3   60.182599  86.308552       1
4   79.032736  75.344376       1
..        ...        ...     ...
95  83.489163  48.380286       1
96  42.261701  87.103851       1
97  99.315009  68.775409       1
98  55.340018  64.931938       1
99  74.775893  89.529813       1

[100 rows x 3 columns]